<form #contactForm="ngForm" (ngSubmit)="addContact()">
  <div class="grid">
    <div class="col-12" [ngClass]="{'lg:col-5' : !horizontal}">
      <div class="p-fluid grid form-group">
        <div class="col field" [ngClass]="{'col-12' : !horizontal}">
          <label for="contactType" class="formTitle">Tipo de contato</label>
          <p-dropdown [options]="contactTypeList" filter="true" [autoDisplayFirst]="false"
            [(ngModel)]="componentContact.type" name="contactType" dataKey="id" optionLabel="value"
            (onChange)="changeContactType()" [showClear]="false" required></p-dropdown>
        </div>
        <div class="col field" [ngClass]="{'col-12' : !horizontal}">
          <label for="contactType" class="capitalize formTitle">
            <span *ngIf="!componentContact.type?.value">Contato</span>
            <span *ngIf="componentContact.type?.value">{{componentContact.type?.value | titlecase}}</span>
          </label>

          <p-inputMask mask="(99)99999-9999" placeholder="(00)00000-0000" [(ngModel)]="componentContact.value"
            name="contactValue" *ngIf="isContactMobile" maxlength="14"></p-inputMask>

          <p-inputMask mask="(99)9999-9999" placeholder="(00)0000-0000" [(ngModel)]="componentContact.value"
            name="contactValue" *ngIf="isContactPhone" maxlength="13"></p-inputMask>

            <input type="text" pInputText [(ngModel)]="componentContact.value" name="contactValue"
            *ngIf="!isContactMobile && !isContactPhone && !isContactEmail" maxlength="150" />

            <div class="ui-inputgroup" *ngIf="isContactEmail">
            <input type="text" pInputText placeholder="Email" name="contactValue"
              [(ngModel)]="componentContact.value" placeholder="exemplo@exemplo.com" maxlength="150">
          </div>
        </div>
        <div class="col field" [ngClass]="{'col-12' : !horizontal}">
          <label for="contactType" class="formTitle">Complemento</label>
          <input id="input" type="text" pInputText [(ngModel)]="componentContact.complement" name="contactComplement"
            autocomplete="off" maxlength="150" />
        </div>
        <div class="col field" [ngClass]="{'pt-5' : horizontal}">
          <button type="submit" label="Adicionar" icon="fa fa-save" pButton [disabled]="contactForm.invalid"></button>
        </div>
        <div class="col field" *ngIf="!horizontal">
          <button type="button" label="Novo" icon="fa fa-file-o" pButton class="p-button-outlined"
            (click)="resetContactForm()"></button>
        </div>
      </div>
    </div>
    <div class="col-12" [ngClass]="{'lg:col-7 pt-5' : !horizontal}">
      <p-table [columns]="cols" [value]="componentContactList" dataKey="value" [style]="{'margin-bottom':'20px'}"
        [responsive]="true" selectionMode="single" [(selection)]="componentContact" (onRowSelect)="editContact($event)"
        [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [scrollable]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th class="column-small"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col.field]?.value ? rowData[col.field]?.value : rowData[col.field] }}
            </td>
            <td class="justify-content-end column-small">
              <button pButton type="button" class="p-button p-button-rounded p-button-danger" icon="pi pi-trash"
                (click)="removeContact(rowData)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="justify-content-center">Sem registros encontrados</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>
