::ng-deep .p-dialog .p-dialog-header {
    background-color: #f0f0f0;
       
    .p-dialog-title {
        font-size: 1.8rem;
    }
}

.p-label-title {
    color: black;
    font-weight: bold;
}

.envolveds h5 {
    font-weight: 600;
}

.body-modal {
    font-size: 1.8rem;

    h5 {
        font-size: 1.8rem;
    }
}

button {
    font-size: 1.3rem;
}