<div class="ui-fluid">
  <div class="grid">
    <div class="col-12 lg:col-5">
      <div class="card no-margin">
        <form #userSearchForm="ngForm" (ngSubmit)="search($event)">
          <h5>Busca de Usuário</h5>
          <div class="p-fluid grid form-group">
            <div class="field col">
              <label for="Identification">Buscar</label>
              <div class="input-group-clear">
                <input id="input" type="text" pInputText placeholder="Nome do Usuário" [(ngModel)]="userSearch.username"
                  name="search" />
                <a (click)="resetSearchForm()" *ngIf="userSearch.username"><i class="pi pi-times"></i></a>
              </div>
            </div>
            <div class="md:col-3 mt-3 pt-3">
              <button type="submit" label="Buscar" icon="" class="p-element p-button p-component mr-3" pButton></button>
            </div>
            <div class="col-12 md:col-12">
              <p-table #dt [columns]="cols" [value]="userList" dataKey="id" [style]="{'margin-bottom':'20px'}"
                [responsive]="true" selectionMode="single" [(selection)]="userRegister" (onRowSelect)="edit($event)"
                (onRowUnselect)="resetRegisterForm()" [rows]="10" [showCurrentPageReport]="false" [paginator]="true"
                [scrollable]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                      {{rowData[col.field]?.value ? rowData[col.field]?.value : (rowData[col.field]?.name ?
                      rowData[col.field]?.name : rowData[col.field]) }}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8" class="justify-content-center">Sem registros encontrados</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 lg:col-7">
      <div class="card no-margin">
        <form #userRegisterForm="ngForm" (ngSubmit)="save()" novalidate>

          <div class="p-fluid grid form-group">
            <div class="md:col-6 mt-3 pt-3">
              <h5>Cadastro de Usuário</h5>
            </div>
            <div class="md:col-6 mt-3 pt-3">
              <button type="button" label="Ver QR code" icon="pi pi-qrcode" class="p-element p-button p-component mr-3"
                pButton (click)="showDialog()"
                *ngIf="userRegister.hashQRCode != undefined && userRegister.hashQRCode != '' "></button>
            </div>
            <div class="col-12 md:col-4 field">
              <label for="float-input">Nome <span class="text-danger">*</span></label>
              <input type="text" pInputText [(ngModel)]="userRegister.person.name" name="registerName" required
                autocomplete="off" />
            </div>
            <div class="col-12 md:col-4 field">
              <label for="float-input">Cargo <span class="text-danger">*</span></label>
              <input type="text" pInputText [(ngModel)]="userRegister.person.jobTitle" name="registerJobTitle" required
                autocomplete="off" />
            </div>
            <div class="col-12 md:col-2 field">
              <label for="registerEnabled">Ativo</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="userRegister.enabled" name="registerEnabled" class="input-switch-component">
                </p-inputSwitch>
              </div>
            </div>
            <div class="col-12 md:col-2 field">
              <label for="registerBlocked">Bloqueado</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="userRegister.blocked" name="registerBlocked" class="input-switch-component">
                </p-inputSwitch>
              </div>
            </div>
          </div>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-4 field">
              <label for="float-input">Username <span class="text-danger">*</span></label>
              <input type="text" pInputText [(ngModel)]="userRegister.username" name="registerUsername" required
                autocomplete="off" />
            </div>
            <div class="col-12 md:col-2 field">
              <label for="float-input">Senha</label>
              <input type="password" pPassword [(ngModel)]="userRegister.password" name="registerPassword"
                autocomplete="off" />
            </div>
            <div class="col-12 md:col-2 field">
              <label for="float-input">Repetir senha</label>
              <input type="password" pPassword [(ngModel)]="userRegister.confirmPassword" name="registerConfirmPassword"
                autocomplete="off" value="" />
            </div>
            <div class="col-12 md:col-2 field">
              <label for="registerChangePass">Alterar senha</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="userRegister.changePass" name="registerChangePass"
                  class="input-switch-component"></p-inputSwitch>
              </div>
            </div>
            <div class="col-12 md:col-2 field">
              <label for="registerExpirePass">Expirar senha</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="userRegister.expirePass" name="registerExpirePass"
                  class="input-switch-component"></p-inputSwitch>
              </div>
            </div>
          </div>

          <h6 class="session-content">Complementos</h6>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-6 field">
              <label for="registerAccessList">Lista de acesso <span class="text-danger">*</span></label>
              <p-dropdown [options]="accessListList" filter="true" [autoDisplayFirst]="false"
                [(ngModel)]="userRegister.accessList" name="registerAccessList" dataKey="id" optionLabel="name"
                [showClear]="false" required></p-dropdown>
            </div>
            <div class="col-12 md:col-6 field">
              <label for="registerUserType">Tipo de Usuário <span class="text-danger">*</span></label>
              <p-dropdown [options]="userTypeList" filter="true" [autoDisplayFirst]="false"
                [(ngModel)]="userRegister.userType" name="registerUserType" dataKey="id" optionLabel="value"
                [showClear]="false" required></p-dropdown>
            </div>
          </div>

          <h6 class="session-content">Contatos</h6>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-12">
              <wbp-contact [componentContactList]="contactList" [componentContact]="contact"></wbp-contact>
            </div>
          </div>

          <h6 class="session-content">Clientes</h6>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-12">
              <p-pickList [source]="customerAvailableList" [target]="customerSelectedList" [responsive]="true"
                [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-customer pTemplate="item">
                  <div class="ui-helper-clearfix">
                    {{customer.name}}
                  </div>
                </ng-template>
              </p-pickList>
            </div>
            <div class="col-12 flex flex-row justify-content-end py-0">
              <button type="button" label="Cancelar" icon="fa fa-ban"
                class="p-button-outlined p-button-light mr-3 md:w-10rem" *ngIf="userRegister.id" pButton
                (click)="resetRegisterForm()"></button>
              <button type="button" label="Excluir" icon="fa fa-trash-o"
                class="p-button-outlined p-button-danger mr-3 md:w-10rem" *ngIf="userRegister.id" pButton
                (click)="remove(userRegister)"></button>
              <button type="button" label="Novo" icon="fa fa-file-o" pButton
                class="p-button-outlined p-button-secondary mr-3 md:w-10rem" (click)="resetRegisterForm()"></button>
              <button type="submit" label="Salvar" icon="fa fa-save" pButton class="md:w-10rem"
                [disabled]="userRegisterForm.invalid"></button>
            </div>
          </div>
          <p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
            [transitionOptions]="'1ms'">
            <div class="p-fluid grid form-group align-content-center">
              <div class="md:col-12 mt-3 pt-3 text-center">
                <h5>Código de acesso:</h5>
              </div>
              <div class="md:col-12 mt-3 pt-3 text-center">
                <qrcode *ngIf="userRegister.hashQRCode != undefined && userRegister.hashQRCode != '' "
                  [qrdata]="userRegister.hashQRCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
              </div>
            </div>

          </p-dialog>
        </form>
      </div>
    </div>
  </div>
</div>