<form #searchForm="ngForm" (ngSubmit)="search(checklistSearch)">
  <h5>Busca de Checklist</h5>
  <div class="p-fluid grid form-group">
    <div class="field col">
      <label for="Identification" class="formTitle">Checklist</label>
      <div class="input-group-clear">
        <input id="input" type="text" pInputText placeholder="Nome do Checklist" [(ngModel)]="checklistSearch.name"
          name="searchName" />
        <a (click)="reset()" *ngIf="checklistSearch?.name"></a>
      </div>
    </div>
    <div class="md:col-3 mt-3 pt-3">
      <button type="submit" label="Buscar" icon="" class="p-element p-button p-component mr-3" pButton></button>
    </div>
    <div class="col-12 lg:col-12">
      <p-table #table [columns]="cols" [value]="checklists" dataKey="id" [style]="{ 'margin-bottom': '20px' }"
        [responsive]="true" selectionMode="single" [(selection)]="checkListSelected" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect()" [rows]="10" [showCurrentPageReport]="false" [paginator]="true"
        [scrollable]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>{{rowData.name}}</td>
            <td>{{rowData.numberOfGroups}}</td>
            <td>{{rowData.numberOfQuestions}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="justify-content-center">
              Sem registros encontrados
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>