<div class="ui-fluid">
  <div class="grid">
    <div class="col-12 lg:col-5">
      <div class="card no-margin">
        <form #teamSearchForm="ngForm" (ngSubmit)="search()">
          <h5>Busca de Equipes</h5>
          <div class="p-fluid grid form-group">
            <div class="field col">
              <label for="Identification">Buscar</label>
              <div class="input-group-clear">
                <input id="input-name" type="text" pInputText placeholder="Nome da Equipe"
                  [(ngModel)]="modelSearch.name" name="search" />
                <a (click)="resetSearchForm()" *ngIf="modelSearch.name"><i class="pi pi-times"></i></a>
              </div>
            </div>
            <div class="md:col-3 mt-3 pt-3">
              <button type="submit" label="Buscar" class="p-element p-button p-component mr-3" pButton></button>
            </div>
            <div class="col-12 md:col-12">
              <p-table #dt [columns]="cols" [value]="modelList" dataKey="id" [responsive]="true" selectionMode="single"
                [(selection)]="modelRegister" (onRowSelect)="edit($event)" (onRowUnselect)="resetRegisterForm()"
                [rows]="10" [showCurrentPageReport]="false" [paginator]="true" [scrollable]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns"> 
                      {{rowData[col.field]?.value ? rowData[col.field]?.value : (rowData[col.field]?.name ?
                      rowData[col.field]?.name : rowData[col.field])}}
                    </td>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8" class="justify-content-center">Sem registros encontrados</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 lg:col-7">
      <div class="card no-margin">
        <form #registerForm="ngForm" (ngSubmit)="save()" novalidate>
          <h5>Equipe</h5>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-12 field">
              <label for="float-input" class="formTitle">Equipe <span class="text-danger">*</span></label>
              <input id="input-equipe" type="text" pInputText [(ngModel)]="modelRegister.name" name="registerName"
                autocomplete="off" required>
            </div>
          </div>
          <h5 class="session-content">Participantes</h5>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-12">
              <p-pickList #pl [source]=userAvailableList [target]=userSelectedList [responsive]="true" [dragdrop]="true"
                dataKey="id" filterBy="name" sourceFilterPlaceholder="Procura por nome"
                targetFilterPlaceholder="Procura por nome" [showSourceControls]="false"
                sourceHeader="Técnicos disponíveis" [showTargetControls]="false" targetHeader="Técnicos aplicados">
                <ng-template let-user pTemplate="item">
                  <span *ngIf="sourceFilterValue" class="p-picklist-filter-icon pi pi-times"
                    (click)="pl.reset(); sourceFilterValue = ''"></span>
                  <span class="ui-helper-clearfix">
                    {{user.name}}
                  </span>
                </ng-template>
              </p-pickList>
            </div>
          </div>
          <div class="p-fluid grid form-group">
            <div class="col-12 md:col-12">
              <p-pickList #pl [source]=stageAvaliableList [target]=stageSelectedList [responsive]="true"
                [dragdrop]="true" dataKey="id" filterBy="name" sourceFilterPlaceholder="Procura por nome"
                targetFilterPlaceholder="Procura por nome" [showSourceControls]="false"
                sourceHeader="Etapas disponíveis" [showTargetControls]="false" targetHeader="Etapas aplicadas">
                <ng-template let-stage pTemplate="item">
                  <span *ngIf="sourceFilterValue" class="p-picklist-filter-icon pi pi-times"
                    (click)="pl.reset(); sourceFilterValue = ''"></span>
                  <span class="ui-helper-clearfix">
                    {{stage.name}}
                  </span>
                </ng-template>
              </p-pickList>
            </div>
          </div>

          <div class="col-12 flex flex-row justify-content-end py-0">
            <button type="button" label="Cancelar" icon="fa fa-ban"
              class="p-button-outlined p-button-light mr-3 md:w-10rem" *ngIf="modelRegister?.id" pButton
              (click)="resetRegisterForm()"></button>
            <button type="button" label="Excluir" icon="fa fa-trash-o"
              class="p-button-outlined p-button-danger mr-3 md:w-10rem" *ngIf="modelRegister?.id" pButton
              (click)="remove(modelRegister)"></button>
            <button type="button" label="Novo" icon="fa fa-file-o" pButton
              class="p-button-outlined p-button-secondary mr-3 md:w-10rem" (click)="resetRegisterForm()"
              (click)="pl.resetFilter()"></button>
            <button type="submit" label="Salvar" icon="fa fa-save" pButton class="md:w-10rem"
              [disabled]="registerForm.invalid"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>